
header {
  background-color: #17343f;
}

header:after {
  background: url(/img/ribbon.png) 0 0/100% no-repeat;
  content: '';
  height: .35rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%; 
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

article > aside {
  background-color: #122930;
  color: #fff;
}

article > aside .menu .dd-item.active > div {
  background-color: #17343F;
}


article > aside .menu .dd-item.active > div * {
  font-weight: bold;
  border-bottom: dotted 1px #fff000; 
}

article > aside .menu .dd-item div a:hover, article > aside .menu .dd-item div a:focus, article > aside .menu .dd-item div a:active {
  background-color: #17343F;
  border-radius: .2rem;
  padding: 0 0rem; 
}

article > aside .menu .dd-item div i.category-icon:active,
article > aside .menu .dd-item div i.category-icon:focus,
article > aside .menu .dd-item div i.category-icon:hover { 
  background-color: #17343F;
  border-radius: .2rem;
  padding: 0 0rem; 
}

article > aside .menu .dd-item li {
  background-color: #17343F;
  border-left: 1px solid #16232e;
}

article section.page p > code, 
article section.page li code, 
article section.page table code {
  padding: 0 0.25rem;
  background-color: #ddd;
}
