/*

Add styles or override variables from the theme here.

*/

$primary: #0F262E;
$secondary: #FDDC04;

$theme-colors-code-blocks: #f3f3f3;
$theme-bg-code-blocks: #000;

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;

$google_font_name: "Poppins";
$google_font_family: "Poppins:300,300i,400,400i,600,600i";

$font-size-base: 0.9rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
