/*

Add styles or override variables from the theme here.

*/

$primary: #17343f;
$secondary: #fff000;

$theme-colors-code-blocks: #F3F3F3;
$theme-bg-code-blocks: #000;

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;