apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - ../../bases/elx-docs

replacements:
- source:
    kind: Ingress
    name: dox-ng
    fieldPath: metadata.annotations.frontend/param-host
  targets:
    - select:
        kind: Ingress
        name: dox-ng
      fieldPaths:
        - spec.rules.0.host
        - spec.tls.0.hosts.0
- source:
    version: v1
    kind: Namespace
    name: dox-ng-preview-
    fieldPath: metadata.annotations.k8s\.elx\.io/preview-pr
  targets:
  - select:
      version: v1
      kind: Namespace
      name: dox-ng-preview-
    fieldPaths:
    - metadata.name
    options:
      delimiter: '-'
      index: 3

images:
- name: elx-docs
  newName: quay.io/elastx/elx-docs
