<footer class="footer py-5 row d-print-none">
  <div class="container-fluid">
    <div class="container">

      <div class="row">
        <div class="col-md-3 col-lg-2">
          <img class="elastx-logo" alt="logo" src="/images/logo.svg">
        </div>

        <div class="col-md-3">
          <h3 class="footer-h3">Contact</h3>
          <ul class="list-unstyled">
            <li>Regeringsgatan 29</li>
            <li>111 53 Stockholm</li>
          </ul>
          <ul class="list-unstyled">
            <li>VAT: SE556906561701</li>
            <li>Phone: <a href="tel:+46855772810">+46 8 557 728 10</a></li>
            <li>Email: <a href="mailto:info@elastx.se">info@elastx.se</a></li>
          </ul>
        </div>

        <div class="col-md-2">
          <h3 class="footer-h3">Links</h3>
          <ul class="list-unstyled">
            {{ range .Site.Menus.footer1 }}
            <li><a href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>

        <div class="col-md-2 col-lg-3">
          <h3 class="footer-h3">Social channels</h3>
          <ul class="list-unstyled">
            {{ range .Site.Menus.footer2 }}
            <li><a href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>

        <div class="col-md-2">
          <a href="https://elastx.se/en/information-security-policy/">
            <img class="cert-logo" src="/images/ISO-27001.png" alt="iso 27001"></a>
          </a>
          <a href="https://elastx.se/en/environment-policy/">
            <img class="cert-logo" src="/images/ISO-14001.png" alt="iso 14001"></a>
          </a>
        </div>
      </div>
      <br />
    </div>
  </div>
</footer>
<style>

.elastx-logo {
  margin-bottom: 1rem;
}

.cert-logo {
  max-width: 5rem;
  margin-bottom: 1rem;
  opacity: 0.7;
}

.footer-h3 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

footer, body > div > footer > div {
  color: #B6C4C8;
  background-color: #1A2C33;
}

footer > div > div > div > div > ul > li {
  color: #B6C4C8;
}
footer > div > div > div:nth-child(6) > div:nth-child(5) > a,
footer > div > div > div > div > ul > li > a {
  color: rgb(182, 196, 200, 0.7);
  text-decoration: underline;
}

</style>
