apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- default-networkpolicies.yaml
- networkpolicies.yaml
- deployment.yaml
- ingress.yaml
- issuer.yaml
- service.yaml
- serviceaccount.yaml
