name: Build preview images

on:
  pull_request:
    branches:
      - master

env:
  IMAGE: quay.io/elastx/elx-docs
  QUAY_USER: elastx+cidocs

jobs:
  lint:
    name: Lint Dockerfile
    runs-on:
      - self-hosted
      - non-persistent
    steps:
    - uses: actions/checkout@v3
    - uses: elastx/actions/docker-lint@main

  buildcontent:
    name: Hugo build & HTML Proofer
    runs-on:
      - self-hosted
      - non-persistent
    needs: lint
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set IMAGE_PREVIEW output parameters
        id: ifo
        run: |
          PR_NUMBER=$(echo $GITHUB_REF | awk 'BEGIN { FS = "/" } ; { print $3 }')
          echo "IMAGE_PREVIEW=preview-${PR_NUMBER}-$(date +%s)" >> "$GITHUB_OUTPUT"
      - name: Docker context
        run: docker context create buildctx
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          endpoint: buildctx
      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ env.QUAY_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - name: Docker build
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: |
            ${{ steps.ifo.outputs.IMAGE_PREVIEW }}
          cache-from: type=registry,ref=${{ steps.ifo.outputs.IMAGE_PREVIEW }}
          cache-to: type=inline