name: Test build Docker image

on: 
  push:
    branches:
      - master
  pull_request:
    branches:    
      - master

env:
  IMAGE: quay.io/elastx/elx-docs
  QUAY_USER: elastx+cidocs

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: elastx/actions/docker-lint@main
  buildcontent:
    runs-on: ubuntu-latest
    needs: lint
    container:
      image: quay.io/elastx/ci-hugo:v0.99.1
    steps:
      - uses: actions/checkout@v3
      - name: Build content
        run: |
          export NODE_PATH=$NODE_PATH:`npm root -g`
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git submodule update --init --recursive
          HUGO_ENV=production hugo -v
      - name: Test webpage
        run: htmlproofer public --allow-hash-href --check-html --empty-alt-ignore --disable-external --file-ignore /revealjs/,/404.html/
      - name: Save config and logs artifact
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: content
          path: public/
  buildandpush:
    runs-on: ubuntu-latest
    needs: buildcontent
    steps:
      - uses: actions/checkout@v3
      - name: Download content artifact
        uses: actions/download-artifact@v3
        with:
          name: content
          path: public/
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag ${IMAGE}:$(git rev-parse HEAD)
      - name: Login to Quay
        run: docker login -u ${QUAY_USER} -p ${{ secrets.DOCKER_PASS }} quay.io
        if: github.ref == 'refs/heads/master'
      - name: Push the Docker image
        run: docker push ${IMAGE}:$(git rev-parse HEAD)
        if: github.ref == 'refs/heads/master'
  updateimagetag:
    runs-on: ubuntu-latest
    needs: buildandpush
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v3
      - name: Override image tag
        run: |
          pushd k8s/bases/elx-docs/
          kustomize edit set image "${IMAGE}:$(git rev-parse HEAD)"
          popd
      - name: Git status
        run: git status
      - name: Push changes to git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Auto updating image tag"
          git fetch origin master
          git push origin HEAD:master
